[submodule "packages/vim-mode"]
	path = packages/vim-mode
	url = https://github.com/e-jigsaw/vim-mode.git
[submodule "packages/script"]
	path = packages/script
	url = https://github.com/rgbkrk/atom-script.git
[submodule "packages/language-stylus"]
	path = packages/language-stylus
	url = https://github.com/matthojo/language-stylus.git
[submodule "packages/color-picker"]
	path = packages/color-picker
	url = https://github.com/thomaslindstrom/color-picker
[submodule "packages/language-docker"]
	path = packages/language-docker
	url = https://github.com/jagregory/language-docker.git
[submodule "packages/language-jade"]
	path = packages/language-jade
	url = https://github.com/e-jigsaw/atom-jade.git
[submodule "packages/linter"]
	path = packages/linter
	url = https://github.com/e-jigsaw/Linter.git
[submodule "packages/monokai"]
	path = packages/monokai
	url = https://github.com/kevinsawicki/monokai.git
[submodule "packages/autocomplete-paths"]
	path = packages/autocomplete-paths
	url = https://github.com/saschagehlich/autocomplete-paths.git
[submodule "packages/command-logger"]
	path = packages/command-logger
	url = https://github.com/kevinsawicki/command-logger.git
[submodule "packages/seti-ui"]
	path = packages/seti-ui
	url = https://github.com/e-jigsaw/seti-ui.git
[submodule "packages/ghq"]
	path = packages/ghq
	url = https://github.com/e-jigsaw/atom-ghq.git
[submodule "packages/git-plus"]
	path = packages/git-plus
	url = https://github.com/e-jigsaw/git-plus.git
[submodule "packages/status-bar"]
	path = packages/status-bar
	url = https://github.com/e-jigsaw/status-bar.git
[submodule "packages/cut-line"]
	path = packages/cut-line
	url = https://github.com/tekkub/cut-line.git
[submodule "packages/language-haskell"]
	path = packages/language-haskell
	url = https://github.com/e-jigsaw/language-haskell.git
[submodule "packages/language-scala"]
	path = packages/language-scala
	url = https://github.com/e-jigsaw/language-scala
[submodule "packages/atom-alignment"]
	path = packages/atom-alignment
	url = https://github.com/e-jigsaw/atom-alignment.git
[submodule "packages/autocomplete-snipetts"]
	path = packages/autocomplete-snipetts
	url = https://github.com/atom-community/autocomplete-snippets.git
[submodule "packages/language-elm"]
	path = packages/language-elm
	url = https://github.com/e-jigsaw/atom-elm.git
[submodule "packages/language-vue-component"]
	path = packages/language-vue-component
	url = https://github.com/e-jigsaw/language-vue-component.git
[submodule "packages/language-livescript"]
	path = packages/language-livescript
	url = https://github.com/e-jigsaw/language-livescript.git
[submodule "packages/linter-jshint"]
	path = packages/linter-jshint
	url = https://github.com/AtomLinter/linter-jshint.git
[submodule "packages/linter-lsc"]
	path = packages/linter-lsc
	url = https://github.com/e-jigsaw/linter-lsc.git
[submodule "packages/language-purescript"]
	path = packages/language-purescript
	url = https://github.com/e-jigsaw/atom-language-purescript.git
[submodule "packages/language-lua"]
	path = packages/language-lua
	url = https://github.com/FireZenk/language-lua.git
[submodule "packages/atom-easy-motion-redux"]
	path = packages/atom-easy-motion-redux
	url = https://github.com/e-jigsaw/atom-easy-motion-redux.git
[submodule "packages/language-erlang"]
	path = packages/language-erlang
	url = https://github.com/e-jigsaw/atom-language-erlang.git
[submodule "packages/atom-junk"]
	path = packages/atom-junk
	url = https://github.com/e-jigsaw/atom-junk.git
[submodule "packages/copy-filename"]
	path = packages/copy-filename
	url = https://github.com/e-jigsaw/copy-filename.git
[submodule "packages/language-llvm"]
	path = packages/language-llvm
	url = https://github.com/e-jigsaw/language-llvm.git
[submodule "packages/command-palette"]
	path = packages/command-palette
	url = https://github.com/e-jigsaw/command-palette.git
[submodule "packages/language-lisp"]
	path = packages/language-lisp
	url = https://github.com/e-jigsaw/language-lisp.git
[submodule "packages/language-rust"]
	path = packages/language-rust
	url = https://github.com/zargony/atom-language-rust.git
