[submodule "packages/vim-mode"]
	path = packages/vim-mode
	url = https://github.com/e-jigsaw/vim-mode.git
[submodule "packages/npm-install"]
	path = packages/npm-install
	url = https://github.com/hughsk/atom-npm-install.git
[submodule "packages/script"]
	path = packages/script
	url = https://github.com/rgbkrk/atom-script.git
[submodule "packages/git-plus"]
	path = packages/git-plus
	url = https://github.com/e-jigsaw/git-plus.git
