[submodule "packages/vim-mode"]
	path = packages/vim-mode
	url = https://github.com/e-jigsaw/vim-mode.git
[submodule "packages/npm-install"]
	path = packages/npm-install
	url = https://github.com/hughsk/atom-npm-install.git
[submodule "packages/script"]
	path = packages/script
	url = https://github.com/rgbkrk/atom-script.git
[submodule "packages/git-plus"]
	path = packages/git-plus
	url = https://github.com/e-jigsaw/git-plus.git
[submodule "packages/language-stylus"]
	path = packages/language-stylus
	url = https://github.com/matthojo/language-stylus.git
[submodule "packages/autocomplete-plus"]
	path = packages/autocomplete-plus
	url = https://github.com/saschagehlich/autocomplete-plus.git
[submodule "packages/color-picker"]
	path = packages/color-picker
	url = https://github.com/thomaslindstrom/color-picker
[submodule "packages/easy-motion"]
	path = packages/easy-motion
	url = https://github.com/adrian-budau/easy-motion.git
[submodule "packages/language-docker"]
	path = packages/language-docker
	url = https://github.com/jagregory/language-docker.git
