"*":
  editor:
    fontFamily: "Monaco"
    fontSize: 18
    showInvisibles: true
    showIndentGuide: true
    autoIndentOnPaste: false
    invisibles: {}
  core:
    disabledPackages: [
      "go-to-line"
      "symbols-view"
      "autocomplete"
      "background-tips"
      "linter-jshint"
    ]
    themes: [
      "seti-ui"
      "monokai"
    ]
  "release-notes":
    viewedVersion: "4155c53"
  "exception-reporting":
    userId: "40d54fc8-612b-82b2-372b-3474335a67e2"
  welcome:
    showOnStartup: false
  "atom-beautify":
    _analyticsUserId: "8bf78ce5-fd26-42e7-a9d9-92540f52f5c9"
  "easy-motion-redux":
    replaceCharacters: "ASDFGHJKLQWERTYUIOPZXCVBNM1234567890"
  linter:
    ignoredLinterErrors: [
      "lsc"
    ]
    showErrorTabFile: false
    showErrorTabProject: false
    underlineIssues: false
    showErrorPanel: false
  junk:
    dirPath: "~/Dropbox/.junk"
  "autocomplete-plus":
    defaultProvider: "Fuzzy"
    minimumWordLength: 1
    autoActivationDelay: 10
    confirmCompletion: "tab"
