# Your keymap
#
# Atom keymaps work similarly to stylesheets. Just as stylesheets use selectors
# to apply styles to elements, Atom keymaps use selectors to associate
# keystrokes with events in specific contexts.
#
# You can create a new keybinding in this file by typing "key" and then hitting
# tab.
#
# Here's an example taken from Atom's built-in keymap:
#
# '.editor':
#   'enter': 'editor:newline'
#
# 'body':
#   'ctrl-P': 'core:move-up'
#   'ctrl-p': 'core:move-down'
#

'.workspace':
  'cmd-shift-M': 'markdown-preview:toggle'

'.vim-mode:not(.insert-mode)':
  ':': 'command-palette:toggle'

  # easy motion
  'm': 'easy-motion:start'
  'shift-m': 'easy-motion:start-reverse'

  # git
  'ctrl-g a': 'git-plus:add'
  'ctrl-g c': 'git-plus:commit'
  'ctrl-g a a': 'git-plus:add-all-and-commit'
  'ctrl-g s': 'fuzzy-finder:toggle-git-status-finder'
  'ctrl-g d': 'git-plus:diff'
  'ctrl-g shift-d': 'git-plus:diff-all'

  # script
  'cmd-r': 'script:run'
  'cmd-shift-r': 'script:close-view'
