# Your keymap
#
# Atom keymaps work similarly to stylesheets. Just as stylesheets use selectors
# to apply styles to elements, Atom keymaps use selectors to associate
# keystrokes with events in specific contexts.
#
# You can create a new keybinding in this file by typing "key" and then hitting
# tab.
#
# Here's an example taken from Atom's built-in keymap:
#
# '.editor':
#   'enter': 'editor:newline'
#
# 'body':
#   'ctrl-P': 'core:move-up'
#   'ctrl-p': 'core:move-down'
#

'.platform-darwin':
  'cmd-shift-c': 'unset!'
  'cmd-b': 'unset!'
  'cmd-b': 'build:trigger'

'.platform-darwin atom-text-editor':
  'cmd-shift-c': 'unset!'
  'cmd-r': 'window:reload'

'atom-workspace':
  'cmd-shift-M' : 'markdown-preview:toggle'
  'cmd-t'       : 'tree-view:toggle-focus'
  'ctrl-space'  : 'ghq:toggle'

  # pane
  'ctrl-p d'       : 'pane:split-down'
  'ctrl-p shift-d' : 'pane:split-right'
  'ctrl-p ['       : 'window:focus-previous-pane'
  'ctrl-p ]'       : 'window:focus-next-pane'
  'ctrl-p j'       : 'window:focus-pane-below'
  'ctrl-p k'       : 'window:focus-pane-above'
  'ctrl-p h'       : 'window:focus-pane-on-left'
  'ctrl-p l'       : 'window:focus-pane-on-right'

'.vim-mode:not(.insert-mode)':
  ':'       : 'command-palette:toggle'
  'shift-w' : 'editor:select-to-end-of-word'
  'shift-b' : 'editor:select-to-beginning-of-word'
