# Your keymap
#
# Atom keymaps work similarly to stylesheets. Just as stylesheets use selectors
# to apply styles to elements, Atom keymaps use selectors to associate
# keystrokes with events in specific contexts.
#
# You can create a new keybinding in this file by typing "key" and then hitting
# tab.
#
# Here's an example taken from Atom's built-in keymap:
#
# '.editor':
#   'enter': 'editor:newline'
#
# 'body':
#   'ctrl-P': 'core:move-up'
#   'ctrl-p': 'core:move-down'
#

'.workspace':
  'cmd-shift-M': 'markdown-preview:toggle'
  'cmd-t': 'tree-view:toggle-focus'
  'ctrl-space': 'ghq:toggle'

  # pane
  'ctrl-p h': 'pane:split-left'
  'ctrl-p l': 'pane:split-right'
  'ctrl-p j': 'pane:split-up'
  'ctrl-p k': 'pane:split-down'
  'ctrl-p [': 'window:focus-previous-pane'
  'ctrl-p ]': 'window:focus-next-pane'

'.vim-mode:not(.insert-mode)':
  ':': 'command-palette:toggle'
  'shift-w': 'editor:select-to-end-of-word'
  'shift-b': 'editor:select-to-beginning-of-word'

  # easy motion
  'm': 'easy-motion:start'
  'shift-m': 'easy-motion:start-reverse'

  # git
  'ctrl-g a': 'git-plus:add'
  'ctrl-g c': 'git-plus:commit'
  'ctrl-g shift-a': 'git-plus:add-all-and-commit'
  'ctrl-g s': 'git-plus:status'
  'ctrl-g d': 'git-plus:diff'
  'ctrl-g shift-d': 'git-plus:diff-all'
  'ctrl-g l': 'git-plus:log'
  'ctrl-g o': 'git-plus:menu'

  # script
  'cmd-r': 'script:run'
  'cmd-shift-r': 'script:close-view'

  # override
  'shift-cmd-C': 'color-picker:open'
