/*
 * Your Stylesheet
 *
 * This stylesheet is loaded when Atom starts up and is reloaded automatically
 * when it is changed.
 *
 * If you are unfamiliar with LESS, you can read more about it here:
 * http://www.lesscss.org
 */

atom-text-editor::shadow {
  .cursor-line {
    background-color: #424242;
  }

  .selection .region {
    background-color: rgba(255, 0, 0, 0.69);
  }

  .comment {
    color: #16e63b;
  }

  .cursor {
    border-width: medium;
    border-color: #e7e7e7;
  }

  .gutter {
    background-color: #1e1e1e;
  }

  .easy-motion-cover .letter-cover {
    background-color: #000 !important;
  }
}

atom-panel-container .status-bar {
  font-size: 18px;
}

atom-text-editor .editor.editor-colors.mini.is-focused {
  background-color: #333;
  color: #fff;
}

atom-text-editor .editor.mini {
  background-color: #111;
}

atom-panel-container #status-bar-vim-mode {
  color: #FFF;
  position: relative;
  z-index: 5;
}

.status-bar-vim-mode-insert {
  background-color: #F00;

  &:after {
    left: 100%;
    top: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    border-color: rgba(0, 0, 0, 0);
    border-left-color: #F00;
    border-width: 11px;
    margin-top: -11px;
  }
}

.status-bar-vim-mode-command {
  background-color: #4f99d3;

  &:after {
    left: 100%;
    top: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    border-color: rgba(0, 0, 0, 0);
    border-left-color: #4f99d3;
    border-width: 11px;
    margin-top: -11px;
  }
}

.git-view {
  color: #FFF;
  position: relative;
  left: -10px;
  padding-left: 14px;
  background-color: #85317f;
  z-index: 4;

  &:after {
    left: 100%;
    top: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    border-color: rgba(0, 0, 0, 0);
    border-left-color: #85317f;
    border-width: 11px;
    margin-top: -11px;
  }
}

.cursor-position {
  color: #FFF;
  position: relative;
  left: -24px;
  padding-left: 14px;
  background-color: #369343;
  z-index: 2;

  &:after {
    left: 100%;
    top: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    border-color: rgba(0, 0, 0, 0);
    border-left-color: #369343;
    border-width: 11px;
    margin-top: -11px;
  }
}

.selection-count {
  color: #FFF;
  position: relative;
  left: -34px;
  padding-left: 14px;
  background-color: #933636;
  z-index: 1;

  &:after {
    left: 100%;
    top: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    border-color: rgba(0, 0, 0, 0);
    border-left-color: #933636;
    border-width: 11px;
    margin-top: -11px;
  }
}

.tab-bar {
  position: absolute;
  bottom: 0;
  width: 100%;
  z-index: 1;
  background: #101112;
  height: 26px;
  line-height: 34px;
  border-bottom: 0;
}

.tab-bar .tab.active {
  border-bottom: 0;
  background-color: #4f99d3;
  height: 26px;
  line-height: 34px;
  color: #FFFFFF;

  &:before {
    border-bottom: 0;
    background-color: #4f99d3;
    height: 26px;
  }
}

.tab-bar .tab {
  border-bottom: 0;
  background-color: #357092;
  height: 26px;
  line-height: 34px;
  font-size: 16px;

  &:before {
    border-bottom: 0;
    background-color: #357092;
    height: 26px;
  }
}

.tab-bar .tab .title.icon-tools {
  top: -2px;
}

.tab-bar .tab.active .close-icon, .tab-bar .tab .close-icon {
  line-height: 26px;
}

.tab-bar .tab.active .close-icon {
  color: #fff;
}

.tab-bar .tab.modified:not(:hover) .close-icon {
  border: 2px solid #fff;
  top: 13px;
}

.file-info {
  display: none;
}

.status-bar .flexbox-repaint-hack {
  padding: 0;
}
